<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/zhuye_css/welcome_index.css" type="text/css">
</head>
<body>

<div class="top">
    <div id="sign">
        <a target="_blank"  href=""><img src="../static/img/index_img/8ightLang.png" alt=""></a>
    </div>
    <b id="welcome">欢迎来到浪八社区</b>

    <div id="logging">
        <h4>
            <a target="_blank"  href="/logreg/log">登录</a>
            <a target="_blank"  href="/logreg/log">注册</a>
        </h4>
    </div>
</div>

<div id="welcome">
    <h2><a target="_blank"  href="/">您已经成功注销(点击返回主页)</a></h2>
    <img src="../static/img/zhuye_img/welcome.jpg" alt="">
</div>


<div class="bottom">
    <hr>
    <p>
        &copy;2019八浪。网站图标所有权归本网站所有，任何机构或个人不得随意使用。商务合作请电话联系:189825xxx82
    </p>
</div>


</body>
</html>